.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  color: white;
  background-image: linear-gradient(to right, violet, rgb(88, 161, 234));
  padding: 0.5rem;
}
